/* public url
https://afarzanparns.github.io/dev-zone/
https://afarzanparns.github.io/dev-zone/   */

/** {
    background-color: gray;
}*/

body {
    width: 200px;
    padding: red 14px solid;
    border: green 6px solid;
    margin: blue 8px solid;
    background-color: cyan;
}

ul {
    background-color: yellow;
    padding: 9px;
    list-style-type: none;
}

ul li {
    /*background: ;*/
    padding: red 4px solid;
    border: green 6px solid;
    margin: blue 8px solid;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: red 4px solid;
    border: green 6px solid;
    margin: blue 8px solid;
}

