
/* 
 * copied by nambrose
 * on 20231103Friday
 * source for copy is
 * https://mikkegoes.com/html-and-css-projects/
 * (third project on list)
 * newbie license
 * 
 * 
 * If you are thinking of using this in 
 * production code, beware of the browser 
 * prefixes. 
 * 
 */

body
{
  padding: red solid 14px;
  border: green solid 14px;
  margin: blue solid 14px;


/*
 * padding: 0;
 * border: 0;
 * margin: 0;
 */

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: 'Avenir Next', 'Avenir', sans-serif;
}

#menutoggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menutoggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menutoggle a:hover
{
  color: tomato;
}

#menutoggle input
{
  display: block;
  width: 400px;
  height: 32px;
  position: absolute;
  top: -11px;
  left: -5px;
 
  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 1; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* 
 * just a quick hamburger
 */
#menutoggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.55s ease;
}

#menutoggle span:first-child
{
  transform-origin: 0% 0%;
}

#menutoggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * transform all the hamburger slices into a crossmark
 */

#menutoggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* but why not hide the middle one */

#menutoggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* 
 * oh yeah and the last one should go the other direction
 */

#menutoggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0,-1px);
}

/* make this absolute positioned at top L of scr */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to prevent any flickering of text in Safari  */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/* and why not slide it in from the left    */
#menutoggle input:checked ~ ul
{
  transform: none;
}



