
body {
            margin: 1%;
            border: 3px double grey;
       font-family: Helvetica, georgia, sans-serif;
  background-color: #d8d8d8;  /* #F7D358; pleasing orange */
             color: #000;
         font-size: 100%;
}

.shopcircleinwhite {
    border: 10px blue solid;
}
.shopfrontcircle {
       position: absolute;
            top: 16.8em;
           left: 1em;
  margin-bottom: 1em;
        z-index: -1;
}

.clearfix {
   clear: both;
  height: 3%;
}

ul {
  list-style-type: none;
}

nav {
  padding: .6em;
   border: 23px groove gray;
   margin: .4em 0 0 1em;
    width: 11em;
}

ul.navbar {
  padding: 0;
   margin: 0em;
}

ul.navbar a {
  text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

ul.navbar li {
    background: white;
        margin: 0.5em 0;
       padding: 0.3em;
letter-spacing: 0.2em;
  border-right: 1em solid black;
}

.name {

    margin: 7em .3em .3em .3em;
     width: auto;

   padding: 2em 2em 2em 1em;
    border: 3px dotted grey;
}   /*  max-width: 392px;  top: 18em; */

.introtoOmar {
     width: auto;
   padding: 2em;
    border: 3px dotted grey;
}

.reviewsbit {
       width: auto;
     padding: 2em;
      border: 3px dotted grey;
  box-sizing: border-box;
}
.sniptilt {
   padding: 0em;
}


/* FRESHSTORE.html page */
.tn {
  margin-left: 1em;
   text-align: left;
}
.tumbnails {
     clear: both;
    margin: 0;
     width: auto;
}
.tumbnail {
       width: auto;
     display: inline-block;
      border: gray 3px dotted;
  text-align: center;
      margin: 2px;
}  /*     padding: 0.4em; */

#topofhome {
  position: absolute;
      left: 0;
       top: 0;
}

/* one prod/page */
.sub300 {
   margin-top: 2em;
  margin-left: 1em;
        width: auto;
}
.bigpictxt {
  margin-left: 2em;
    font-size: 130%;
}
.currencynprice {
  margin-left: 12em;
}
.gbpabbrv {
  font-family: ;
}
.itemprice {
  font-family: ;
  font-weight: bold;
}   /* width: auto; */
.proddetail {
            width: auto;
          padding: 2em;
           border: thin dotted;
           margin: 1.6em;
 background-color: yellow;
}


/*  CME.html page  */
.myloc {
        clear: both;
  margin-left: .3em;
       border: 10px green dotted;
      padding: 2em;
}
.invite {
          clear: both;
    margin-left: 2em;
}
.publicenquirer {
          clear: both;
    margin-left: 5em;
  margin-bottom: 2em;
}

/*  HOWIHELP.html page  */
.whatioffer {
     clear: both;
     width: auto;

    margin: .3em .3em .3em .3em;
    border: 3px dotted grey;
   padding: 2em;

  position: relative;
       top: 0em;
}   /* box-sizing: border-box; */

/*
.socmedia li {
  display: inline;
}
.social i {
  font-size: 270%;
  margin: 1% 5% 7% 4%;
  color: #2c2c2c;
}
.social i:hover {
  color: #606060;
}
*/
.pagefoot {
       width: auto;
     padding: 1em;
  border-top: thin dotted;
  margin-top: 2em;
}
.socmedcontainer {
          display: flex;
      align-items: flex-start;
  justify-content: left;
}
.socmedicon {
  max-width: 8%;
}   /* flex-basis: 80%; */
.socmedcaption {
     font-size: large;
  padding-left: 23px;
}
.socmedcaption.a:hover {
  color:darkgoldenrod;
}